In [41]:
#!pip install yfinance

In [115]:
import yfinance as yf
from pymongo import MongoClient
import pandas as pd

In [137]:
quot = 'AAPL'

In [142]:
quote = yf.Ticker(quot)
hist = quote.history(period=period, interval=interval)
hist.drop(['Dividends','Stock Splits'], axis = 1, inplace = True)
hist = hist.reset_index()

In [143]:
hist

,Date,Open,High,Low,Close,Volume
0,2023-01-24 00:00:00-05:00,140.096097,142.941758,140.086117,142.312714,66435100
1,2023-01-25 00:00:00-05:00,140.675215,142.212861,138.598384,141.643738,65799300
2,2023-01-26 00:00:00-05:00,142.951735,144.030091,141.683667,143.740540,54105100
3,2023-01-27 00:00:00-05:00,142.941753,147.005541,142.861874,145.707520,70492800
4,2023-01-30 00:00:00-05:00,144.739016,145.328113,142.632232,142.781998,64015300
5,2023-01-31 00:00:00-05:00,142.482450,144.119949,142.063092,144.070023,65874500
6,2023-02-01 00:00:00-05:00,143.750517,146.386491,141.104563,145.208282,77663600
7,2023-02-02 00:00:00-05:00,148.673001,150.949524,147.944119,150.590088,118339000
8,2023-02-03 00:00:00-05:00,147.804328,157.140080,147.604636,154.264465,154279900
9,2023-02-06 00:00:00-05:00,152.337419,152.866610,150.550139,151.498688,69858300
10,2023-02-07 00:00:00-05:00,150.410349,154.993348,150.410349,154.414230,83322600
11,2023-02-08 00:00:00-05:00,153.645419,154.344349,150.939544,151.688400,64120100
12,2023-02-09 00:00:00-05:00,153.545567,154.094731,150.190688,150.639999,56007100
13,2023-02-10 00:00:00-05:00,149.460007,151.339996,149.220001,151.009995,57409100
14,2023-02-13 00:00:00-05:00,150.949997,154.259995,150.919998,153.850006,62199000
15,2023-02-14 00:00:00-05:00,152.119995,153.770004,150.860001,153.199997,61707600
16,2023-02-15 00:00:00-05:00,153.110001,155.500000,152.880005,155.330002,65669300
17,2023-02-16 00:00:00-05:00,153.509995,156.330002,153.350006,153.710007,68167900
18,2023-02-17 00:00:00-05:00,152.350006,153.000000,150.850006,152.550003,59095900
19,2023-02-21 00:00:00-05:00,150.199997,151.300003,148.410004,148.479996,58867200
20,2023-02-22 00:00:00-05:00,148.869995,149.949997,147.160004,148.910004,51011300
21,2023-02-23 00:00:00-05:00,150.089996,150.339996,147.240005,149.399994,48349600

In [126]:
#period = yf.HistoricalPrices()
period= '1mo'
interval = '1d'
hist = quote.history(period=period, interval=interval)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-24 00:00:00-05:00,140.096097,142.941758,140.086117,142.312714,66435100,0.00,0.0
2023-01-25 00:00:00-05:00,140.675215,142.212861,138.598384,141.643738,65799300,0.00,0.0
2023-01-26 00:00:00-05:00,142.951735,144.030091,141.683667,143.740540,54105100,0.00,0.0
2023-01-27 00:00:00-05:00,142.941753,147.005541,142.861874,145.707520,70492800,0.00,0.0
2023-01-30 00:00:00-05:00,144.739016,145.328113,142.632232,142.781998,64015300,0.00,0.0
2023-01-31 00:00:00-05:00,142.482450,144.119949,142.063092,144.070023,65874500,0.00,0.0
2023-02-01 00:00:00-05:00,143.750517,146.386491,141.104563,145.208282,77663600,0.00,0.0
2023-02-02 00:00:00-05:00,148.673001,150.949524,147.944119,150.590088,118339000,0.00,0.0
2023-02-03 00:00:00-05:00,147.804328,157.140080,147.604636,154.264465,154279900,0.00,0.0
2023-02-06 00:00:00-05:00,152.337419,152.866610,150.550139,151.498688,69858300,0.00,0.0
2023-02-07 00:00:00-05:00,150.410349,154.993348,150.410349,154.414230,83322600,0.00,0.0
2023-02-08 00:00:00-05:00,153.645419,154.344349,150.939544,151.688400,64120100,0.00,0.0
2023-02-09 00:00:00-05:00,153.545567,154.094731,150.190688,150.639999,56007100,0.00,0.0
2023-02-10 00:00:00-05:00,149.460007,151.339996,149.220001,151.009995,57409100,0.23,0.0
2023-02-13 00:00:00-05:00,150.949997,154.259995,150.919998,153.850006,62199000,0.00,0.0
2023-02-14 00:00:00-05:00,152.119995,153.770004,150.860001,153.199997,61707600,0.00,0.0
2023-02-15 00:00:00-05:00,153.110001,155.500000,152.880005,155.330002,65669300,0.00,0.0
2023-02-16 00:00:00-05:00,153.509995,156.330002,153.350006,153.710007,68167900,0.00,0.0
2023-02-17 00:00:00-05:00,152.350006,153.000000,150.850006,152.550003,59095900,0.00,0.0
2023-02-21 00:00:00-05:00,150.199997,151.300003,148.410004,148.479996,58867200,0.00,0.0
2023-02-22 00:00:00-05:00,148.869995,149.949997,147.160004,148.910004,51011300,0.00,0.0
2023-02-23 00:00:00-05:00,150.089996,150.339996,147.240005,149.399994,48349600,0.00,0.0

In [130]:
hist = hist.reset_index()
hist

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0,2023-01-24,140.096097,142.941758,140.086117,142.312714,66435100,0.00,0.0
1,1,2023-01-25,140.675215,142.212861,138.598384,141.643738,65799300,0.00,0.0
2,2,2023-01-26,142.951735,144.030091,141.683667,143.740540,54105100,0.00,0.0
3,3,2023-01-27,142.941753,147.005541,142.861874,145.707520,70492800,0.00,0.0
4,4,2023-01-30,144.739016,145.328113,142.632232,142.781998,64015300,0.00,0.0
5,5,2023-01-31,142.482450,144.119949,142.063092,144.070023,65874500,0.00,0.0
6,6,2023-02-01,143.750517,146.386491,141.104563,145.208282,77663600,0.00,0.0
7,7,2023-02-02,148.673001,150.949524,147.944119,150.590088,118339000,0.00,0.0
8,8,2023-02-03,147.804328,157.140080,147.604636,154.264465,154279900,0.00,0.0
9,9,2023-02-06,152.337419,152.866610,150.550139,151.498688,69858300,0.00,0.0
10,10,2023-02-07,150.410349,154.993348,150.410349,154.414230,83322600,0.00,0.0
11,11,2023-02-08,153.645419,154.344349,150.939544,151.688400,64120100,0.00,0.0
12,12,2023-02-09,153.545567,154.094731,150.190688,150.639999,56007100,0.00,0.0
13,13,2023-02-10,149.460007,151.339996,149.220001,151.009995,57409100,0.23,0.0
14,14,2023-02-13,150.949997,154.259995,150.919998,153.850006,62199000,0.00,0.0
15,15,2023-02-14,152.119995,153.770004,150.860001,153.199997,61707600,0.00,0.0
16,16,2023-02-15,153.110001,155.500000,152.880005,155.330002,65669300,0.00,0.0
17,17,2023-02-16,153.509995,156.330002,153.350006,153.710007,68167900,0.00,0.0
18,18,2023-02-17,152.350006,153.000000,150.850006,152.550003,59095900,0.00,0.0
19,19,2023-02-21,150.199997,151.300003,148.410004,148.479996,58867200,0.00,0.0
20,20,2023-02-22,148.869995,149.949997,147.160004,148.910004,51011300,0.00,0.0
21,21,2023-02-23,150.089996,150.339996,147.240005,149.399994,48349600,0.00,0.0

In [128]:
date=[]
for i in hist['Date']:
    date.append(i.date())
date

[datetime.date(2023, 1, 24),
 datetime.date(2023, 1, 25),
 datetime.date(2023, 1, 26),
 datetime.date(2023, 1, 27),
 datetime.date(2023, 1, 30),
 datetime.date(2023, 1, 31),
 datetime.date(2023, 2, 1),
 datetime.date(2023, 2, 2),
 datetime.date(2023, 2, 3),
 datetime.date(2023, 2, 6),
 datetime.date(2023, 2, 7),
 datetime.date(2023, 2, 8),
 datetime.date(2023, 2, 9),
 datetime.date(2023, 2, 10),
 datetime.date(2023, 2, 13),
 datetime.date(2023, 2, 14),
 datetime.date(2023, 2, 15),
 datetime.date(2023, 2, 16),
 datetime.date(2023, 2, 17),
 datetime.date(2023, 2, 21),
 datetime.date(2023, 2, 22),
 datetime.date(2023, 2, 23)]

In [129]:
hist['Date']=date

In [83]:
len(hist.to_dict('records'))

22

In [95]:
client = MongoClient('mongo')
db = client["reddit_db"]
yf_db = db["yahoo_finance"]
yf_db.delete_many({}) 
yf_db.insert_many(hist.to_dict('records'))
# hist.drop(['Dividends','Stock Splits'], axis = 1, inplace = True)

In [96]:
cur = yf_db.find()

In [98]:
cur[8]

{'_id': ObjectId('63f8818832a04eea6c98e48b'),
 'Open': 147.80432760381535,
 'High': 157.14007965824945,
 'Low': 147.60463555016733,
 'Close': 154.26446533203125,
 'Volume': 154279900,
 'Dividends': 0.0,
 'Stock Splits': 0.0}

In [104]:
l=[]
l_date=[]
for i in range(len(date)):
    l_date.append(date[i].date())
    print(type(cur[i]['High']))
    l.append((float(cur[i]['High'])+float(cur[i]['Low']))/2)

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [103]:
type(cur[1]['High'])

float

In [87]:
df = pd.DataFrame(zip(l_date,l),columns =['Date','Avg'])
df

          Date         Avg
0   2023-01-24  141.513938
1   2023-01-25  140.405623
2   2023-01-26  142.856879
3   2023-01-27  144.933707
4   2023-01-30  143.980173
5   2023-01-31  143.091521
6   2023-02-01  143.745527
7   2023-02-02  149.446822
8   2023-02-03  152.372358
9   2023-02-06  151.708374
10  2023-02-07  152.701849
11  2023-02-08  152.641946
12  2023-02-09  152.142710
13  2023-02-10  150.279999
14  2023-02-13  152.589996
15  2023-02-14  152.315002
16  2023-02-15  154.190002
17  2023-02-16  154.840004
18  2023-02-17  151.925003
19  2023-02-21  149.855003
20  2023-02-22  148.555000
21  2023-02-23  148.790001

In [88]:
df['Avg'].sum()/df.shape[0]

148.8582471435997

In [90]:
var = []
for i in df['Avg']:
    var.append(((i/(df['Avg'].sum()/df.shape[0]))-1)*100)

In [91]:
var

[-4.933760474193827,
 -5.678304455201289,
 -4.0315993741681595,
 -2.636427669074637,
 -3.2769929620789284,
 -3.8739716415909453,
 -3.4346232622245565,
 0.395392518775739,
 2.360709284194873,
 1.9146585560063434,
 2.5820547042590736,
 2.541813540282467,
 2.2064365714399736,
 0.955104378144167,
 2.506914642553193,
 2.3221792303330657,
 3.5817668151520987,
 4.018424869611037,
 2.0601854227127125,
 0.6696009340835252,
 -0.2037151748343402,
 -0.04584645418168609]

In [93]:
df['Var'] =(var)

In [94]:
df

          Date         Avg       Var
0   2023-01-24  141.513938 -4.933760
1   2023-01-25  140.405623 -5.678304
2   2023-01-26  142.856879 -4.031599
3   2023-01-27  144.933707 -2.636428
4   2023-01-30  143.980173 -3.276993
5   2023-01-31  143.091521 -3.873972
6   2023-02-01  143.745527 -3.434623
7   2023-02-02  149.446822  0.395393
8   2023-02-03  152.372358  2.360709
9   2023-02-06  151.708374  1.914659
10  2023-02-07  152.701849  2.582055
11  2023-02-08  152.641946  2.541814
12  2023-02-09  152.142710  2.206437
13  2023-02-10  150.279999  0.955104
14  2023-02-13  152.589996  2.506915
15  2023-02-14  152.315002  2.322179
16  2023-02-15  154.190002  3.581767
17  2023-02-16  154.840004  4.018425
18  2023-02-17  151.925003  2.060185
19  2023-02-21  149.855003  0.669601
20  2023-02-22  148.555000 -0.203715
21  2023-02-23  148.790001 -0.045846

In [808]:
from yf_data import *

In [809]:
yf_data()

In [810]:
print(client.list_database_names())

['admin', 'config', 'local', 'reddit_db']

In [811]:
db.list_collection_names()

['yahoo_finance.collection', 'reddit', 'yahoo_finance']

In [819]:
yt_fin = db['reddit'].find()
yt_fin

In [1055]:
next(yt_fin)

StopIteration: